/* TODO Add site wide styles */
body {
    background-color: #e94445;
    color:white;
}

#card{
    display: flex;
    border: solid black 2px;
    align-items: center;
    background-color: #cec2ae;
    color: black;
}

#card > img {
    height: 100px;
    width: 300px;
}