/* TODO Add site wide styles */
#card{
    display: flex;
    border: solid black 2px;
    align-items: center;
    background-color: blanchedalmond;
}

#card > img {
    height: 100px;
    width: 300px;
}